<%- model_class = Garden -%>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h4 class="muted">Turn idle backyards into fresh fruits and
      veggies</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <%= gmaps("map_options" => { "detect_location" => true,
                                 "center_on_user" => true,
                                 :auto_adjust => true, "zoom" => 6},
                                 "markers" => { "data" => @json }) %>
  </div>
  <div class="span8">
    <table class="table table-striped">
      <thead>
        <tr>
          <h5>Some spaces to garden<h5>
        </tr>
      </thead>
      <tbody>
        <% @gardens.each do |garden| %>
        <tr>
          <td>
            <img src="http://placehold.it/100x70&text=pics+coming!" alt="" />
          </td>
          <td>
              <%= link_to garden.title, garden_path(garden) %>
          </td>
          <td>
            <small><%= garden.neighborhood %></small>
          </td>
          <td>
            <small><%= garden.created_at.strftime("%d %b %Y") %></small>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- span8 -->

</div>
